*{
    box-sizing: border-box;
}

.graph__box {
    position: relative;
    z-index: 0;
    padding-left: 40px;
    width: 535px;
}
.graph__name {
    color: #000000;
        font-size: 20px;
        margin: 60px 0 50px;
}
.graph__axis-y {
    position: absolute;
    top: 156px;
    left: -8px;
    height: 243px;
    display: flex;
    flex-flow: column nowrap;
    color: #718192;
    font-size: 12px;
    border-right: 1px solid #818F9F;
    width: 48px;
}

.graph__axis-y span {
    position: absolute;
    top: -10px;
    left: 0;
    padding-right: 23px;
}
.graph__axis-y span::before {
    position: absolute;
    content: '';
    top: 10px;
    right:0;
    height: 1px;
    width: 9px;
    background-color: #818F9F;
}
.graph__axis-y span:nth-child(2) {
    top: 71px;
}
.graph__axis-y span:nth-child(2)::before {
    top: 10px;
}
.graph__axis-y span:nth-child(3) {
    top: 149px;
}
.graph__axis-y span:nth-child(3)::before {
    top: 12px;
}


.graph__axis-x {
    position: absolute;
    top: 416px;
    left: 0;
    right: 0;
    color: #818F9F;
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0 0 0 40px;
}

.graph__axis-x span {
    position: relative;
}
.graph__axis-x span::before {
        position: absolute;
        content: '';
        top: -17px;
        left: 77px;
        height: 10px;
        width: 1px;
        background-color: #818F9F;
    }
.graph__axis-x span:nth-child(2)::before {
    left: 77px;
}
.graph__axis-x span:nth-child(3)::before {
    left: 75px;
}
.graph__axis-x span:nth-child(4)::before {
    left: 74px;
}





#c1 {
    overflow: hidden;
    cursor: pointer;
}

.box {
    flex: 0 0 auto;
    width: 535px;
    height: 267px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #878787;

}
.graph-result {
    content: '';
    position: absolute;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    background: #424C57;
    width: 55px;
    height:25px;
    top: 45px;
    left: 45px;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    padding: 3px 10px 4px;
    display: none;
}

.graph-crossroad {
    display: none;
    position: absolute;
    content: '';
    background-color: rgba(200,200,200, 0.5);
    width: auto;
    height: auto;
    z-index: 10;
}
.graph-crossroad::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1px;
    height: 550px;
    border-left: 1px dashed #ccc;
}
.graph-crossroad::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1200px;
    height: 1px;
    border-top: 1px dashed #ccc;
}
.graph-dott {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid #f2f8f8;
    z-index: 12;
}






